input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 1px solid #8c8c8c;
  padding: 2px;
  padding-left: 15px;
  color: #000;
  left: 100px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  position: absolute !important;
  border-left: 1px solid #8c8c8c;
  padding: 2px;
  padding-left: 15px;
  color: #000;
  left: 45px;
}

input[type="date"]::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: #000;
  padding: 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  background: transparent;
  width: auto;
  height: auto;
}